/* ----base---- */
@font-face {
  font-display: swap;
  font-family: "Impact";
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  src: url("../fonts/impact.ttf") format("ttf");
}
:root {
  --black: #000;
  --gray: #595d62;
  --white: #fff;
  --light-brown: #9b6c43;
  --light-beige: #faf3e0;
  --light-gray: #d9d9d9;
  --darck-brown: #3d2218;
  --background: #fbfcf8;
  --brown: #6d554b;
  --light-gray-2: #d3d3d3;
  --light-gray-3: #c5c5c5;
  --gray-3: #9f9f9f;
  --social-media-background: rgba(255, 255, 255, 0);
  --gray-2: #575757;
  --black-2: #070707;
  --beige: #e3caa5;
  --beige-2: #edd9aa;
  --white-55: rgba(255, 255, 255, 0.55);
  --white-80: rgba(255, 255, 255, 0.8);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --white-55-: rgba(255, 255, 255, 0.55);
  --white-80-: rgba(255, 255, 255, 0.8);
  --darck-brown-65-: rgba(61, 34, 24, 0.65);
  --icon-gray: #3a3a3a;
  --light-beige-2: #fffbe9;
  --darck-gray: #323232;
  --light-beige-3: #e1d7c6;
  --red: #c80000;
}

body {
  color: var(--black);
  background-color: var(--background);
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

/* --- containers ---*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}
.section {
  padding: 24px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .section {
    padding: 48px 0;
  }
}

@media screen and (min-width: 1268px) {
  .container {
    max-width: 1280px;
    padding: 0 107.5px;
  }
  .section {
    padding: 24px 0;
  }
}

/* ----320px---- */

/* --title-image-box--*/

.imageBox {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  margin-bottom: 32px;
}
.mainRecipeTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.55;
}
.recipeImage {
  width: 100%;
}
/* --general-button-box-- */
.generalBox {
  margin-bottom: 24px;
}
.generalInfo {
  border-radius: 16px;
  padding: 16px;
  max-width: 361px;
  background-color: var(--light-beige);
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.recipeTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
}
.infoText {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--black);
  font-weight: bold;
  line-height: 1.55;
}
.text {
  font-weight: 400;
  line-height: 1.55;
}
.saveBtn {
  border-radius: 8px;
  max-width: 361px;
  background-color: var(--light-brown);
  border: none;
  width: 100%;
  padding: 17px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
}

/* --about-info-box-- */

.aboutInfo {
  margin-bottom: 40px;
}
.aboutTitle {
  margin-bottom: 8px;
}

/* --ingredients-box-- */
.ingredientsBox {
  margin-bottom: 40px;
}
.ingrTitle {
  margin-bottom: 8px;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 16px;
}

/*----768px----*/
@media screen and (min-width: 768px) {
  /* image-box */
  .imageBox {
    display: flex;
    flex-direction: column;
  }
  .mainRecipeTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    line-height: 1.1;
  }
  /* general-box */

  .generalBox {
    display: flex;
    justify-content: space-between;
  }
  .generalInfo {
    border-radius: 16px;
    padding: 24px;
    max-width: 431px;
    background-color: var(--light-beige);
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .saveBtn {
    border-radius: 8px;
    max-width: 249px;
    max-height: 56px;
    background-color: var(--light-brown);
    border: none;
    width: 100%;
    padding: 16px 0;
  }
}
/* ---1268px--- */
@media screen and (min-width: 1268px) {
  /* image-box */

  .mainRecipeTitle {
    font-size: 48px;
  }
  /* ---flex-box--- */
  .flexBox {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
  }
  /* general-box */

  .generalBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    max-width: 393px;
    margin-bottom: 24px;
  }
  .generalInfo {
    border-radius: 16px;
    padding: 24px;
    background-color: var(--light-beige);
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .recipeTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--black);
  }
  .infoText {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: var(--black);
    font-weight: bold;
    line-height: 1.55;
  }
  .text {
    font-weight: 400;
    line-height: 1.55;
  }

  .saveBtn {
    border-radius: 8px;
    max-width: 393px;
    max-height: 56px;
    background-color: var(--light-brown);
    border: none;
    width: 100%;
    padding: 16px 0;
  }
  .aboutBox {
    max-width: 808px;
  }
  .preparationTitle {
    margin-bottom: 24px;
  }

  .aboutText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    color: #000;
  }
}
